<section id="servicos">
  <h2>SERVIÇOS</h2>
  <div class="conteudo-sobre">
    <div class="texto">
      <p class="descricao">
        Utilizando a automatização de mensagens via sms e whatsapp, envie
        lembretes e/ou mensagens de incentivo e conteúdo customizado.
      </p>
      <p class="descricao">
        Com um match entre a frequência do aluno na academia x interação com os
        conteúdos e a gamificação descubra o health score de cada aluno e
        utilize a jornada mais adequada para manter seus clientes ou fazer uma
        oferta de cross-sell.
      </p>
    </div>
    <div class="imagem">
      <img
        src="../../assets/img/vantagens.png"
        alt="Um grupo de pessoas olhando um celular"
      />
    </div>
  </div>
  <app-vantagens></app-vantagens>
</section>
