<section id="planos">
  <h2>PLANOS</h2>
  <p class="resumo">
    Contrate o plano ideal de acordo com o tamanho da sua academia ou studio
  </p>
  <div class="container cards">
    <div class="card-deck">
      <div class="card">
        <div class="card-header plano-um">
          <p class="plano-um-txt">BASIC</p>
        </div>
        <div class="card-body">
          <h5 class="card-title valor-um">$ 99,99</h5>
          <p class="card-text">
            Ideal para academias ou studios com até 500 alunos
          </p>
          <p class="card-text">Envio de mensagem SMS</p>
          <p class="card-text">Bot site</p>
          <p class="card-text">Chatbot whatsapp</p>
        </div>
        <div class="card-footer footer-um">
          <small class="text-muted"
            ><a href="#" class="footer-link">Obter</a></small
          >
        </div>
      </div>
      <div class="card">
        <div class="card-header plano-dois">
          <p class="plano-dois-txt">STANDARD</p>
        </div>
        <div class="card-body">
          <h5 class="card-title valor-dois">$ 159,99</h5>
          <p class="card-text">
            Indicado para academias ou studios entre 501 e 1000 clientes
          </p>
          <p class="card-text">Todos os benefícios do plano basic</p>
          <p class="card-text">
            1 consultoria de uma hora com nossos especialistas
          </p>
          <p class="card-text">
            Mais parceiros para sua academia (lojas de suplementos, roupas e
            etc)
          </p>
        </div>
        <div class="card-footer footer-dois">
          <small class="text-muted"
            ><a href="#" class="footer-link">Obter</a></small
          >
        </div>
      </div>
      <div class="card">
        <div class="card-header plano-tres">
          <p class="plano-tres-txt">PROFESSIONAL</p>
        </div>
        <div class="card-body">
          <h5 class="card-title valor-tres">Sob consulta</h5>
          <p class="card-text">Acima de 1000 clientes</p>
          <p class="card-text">Todos os benefícios do plano basic</p>
          <p class="card-text">Todos os benefícios do plano standard</p>
          <p class="card-text">
            Parceiros exclusivos para o plano professional
          </p>
          <p class="card-text">
            Sistema de pontuação de acordo com quantidade de alunos matriculados
          </p>
        </div>
        <div class="card-footer footer-tres">
          <small class="text-muted"
            ><a href="#" class="footer-link">Obter</a></small
          >
        </div>
      </div>
    </div>
  </div>
</section>
