<section id="time">
  <h2>CONHEÇA NOSSO TIME</h2>
  <div class="fotos-equipe">
    <div>
      <img
        class="foto"
        src="../../assets/img/cadu.jpg"
        alt="Eduardo Dias, Desenvolvedor back-end"
      />
      <p class="descricao-um">Eduardo Dias</p>
      <p class="descricao">Dev back-end</p>
      <div class="icones">
        <div class="separa-um">
          <a href="https://github.com/eduardodiasm">
            <i class="fab fa-github-square" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="separa-um">
          <a href="https://www.linkedin.com/in/eduardodiasm/">
            <i class="fab fa-linkedin" style="font-size: 48px"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <img
        class="foto"
        src="../../assets/img/lucas-mourao-lopes.jpeg"
        alt="Lucas Mourão Lopes, Desenvolvedor back-end"
      />
      <p class="descricao-um">Lucas Lopes</p>
      <p class="descricao">Dev back-end</p>
      <div class="icones">
        <div class="separa-um">
          <a href="https://github.com/Spinkers">
            <i class="fab fa-github-square" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="separa-um">
          <a href="https://www.linkedin.com/in/lucas-rosado/">
            <i class="fab fa-linkedin" style="font-size: 48px"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <img
        class="foto"
        src="../../assets/img/me.jpg"
        alt="Laura Oliveira, Desenvolvedora front-end"
      />
      <p class="descricao-um">Laura Oliveira</p>
      <p class="descricao">Dev front-end</p>
      <div class="icones">
        <div class="separa-um">
          <a href="https://github.com/lauraol">
            <i class="fab fa-github-square" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="separa-um">
          <a href="https://www.linkedin.com/in/lauraolpedro/">
            <i class="fab fa-linkedin" style="font-size: 48px"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="fotos-equipe">
    <div>
      <img
        class="foto"
        src="../../assets/img/gusta.jpg"
        alt="Gustavo Franco, UX/UI Design"
      />
      <p class="descricao-um">Gustavo Franco</p>
      <p class="descricao">UX/UI Design</p>
      <div class="icones">
        <div class="separa">
          <a href="https://www.github.com/gfrancodev">
            <i class="fab fa-github-square" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="separa">
          <a href="https://www.linkedin.com/in/gustavo-jorge-4a6b66176/">
            <i class="fab fa-linkedin" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="separa">
          <a href="https://www.behance.net/gfrancodev">
            <i class="fab fa-behance-square" style="font-size: 48px"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <img
        class="foto"
        src="../../assets/img/nicolle.JPG"
        alt="Nicolle Oliveira, Business"
      />
      <p class="descricao-um">Nicolle Oliveira</p>
      <p class="descricao">Business</p>
      <div class="icones">
        <div class="separa">
          <a href="https://www.linkedin.com/in/nicolle-oliveira/">
            <i class="fab fa-linkedin" style="font-size: 48px"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
