@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.label-alunos {
  margin-top: 15px;
}

.ultimo-campo {
  margin-bottom: 15px;
}
