<div class="bg">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#sobre">SOBRE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#servicos">SERVIÇOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#planos">PLANOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contato">CONTATE-NOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#time">TIME</a>
    </li>
  </ul>
  <div class="banner">
    <div class="conteudo-banner">
      <h1>Gymhack</h1>
      <h3>Revolucionando a jornada do cliente</h3>
      <p class="descricao-um">Aumente sua retenção e receita utilizando</p>
      <p class="descricao">
        jornadas do usuário de acordo com o customer health
      </p>
      <p class="descricao">score do seu cliente</p>

      <button type="button" class="btn btn-cor btn-lg">COMECE AGORA</button>
    </div>
    <div class="imagem-banner">
      <img
        src="../../assets/img/bonequinho.png"
        alt="Bonequinho masculino treinando com pesos"
      />
    </div>
  </div>
</div>
<div class="topicos">
  <div>
    <img
      class="icones"
      src="../../assets/img/alert.png"
      alt="Ícone de alerta"
    />
    <p class="descricao-icones">A mensagem certa</p>
    <p class="descricao-icones">no momento ideal</p>
  </div>
  <div>
    <img class="icones" src="../../assets/img/gym.png" alt="Ícone de halter" />
    <p class="descricao-icones">Costumer success para</p>
    <p class="descricao-icones">o seu clienteo</p>
  </div>
  <div>
    <img
      class="icones"
      src="../../assets/img/add.png"
      alt="Ícone de conexões"
    />
    <p class="descricao-icones">Crie uma comunidade com</p>
    <p class="descricao-icones">nossa gamificação</p>
  </div>
</div>
