<div class="container">
  <div id="vantagens">
    <h2>VANTAGENS</h2>
    <div class="conteudo-vantagens">
      <div class="circulos">
        <div>
          <div class="circulo">
            <p class="numero">1</p>
          </div>
        </div>
        <div>
          <div class="circulo">
            <p class="numero">2</p>
          </div>
        </div>
        <div>
          <div class="circulo">
            <p class="numero">3</p>
          </div>
        </div>
      </div>
      <div class="textos">
        <div class="texto">
          <p class="vantagem-top">
            Aumento do valor da vida útil do cliente (LifeTime Value)
          </p>
        </div>
        <div class="texto">
          <p class="vantagem-top-dois">
            Redução da rotatividade de clientes (Churn)
          </p>
        </div>
        <div class="texto">
          <p class="vantagem-top-tres">Alunos não precisam baixar um app</p>
        </div>
      </div>
    </div>
  </div>
</div>
