<section id="sobre">
  <h2>SOBRE</h2>
  <div class="conteudo-sobre">
    <div class="imagem">
      <img
        src="../../assets/img/garota.png"
        alt="Garota correndo e ao seu lado um celular com uma caixa de mensagem"
      />
    </div>
    <div class="texto">
      <p class="descricao">
        Gymhack é uma plataforma que aumenta a retenção dos clientes e a
        receita, das academias e studios, usando jornadas do usuário
        customizadas de acordo com o customer health score do cliente.
      </p>
      <p class="descricao">
        Esse score é um indicador da saúde do cliente em relação à empresa, que
        tem por objetivo identificar se um cliente representa um risco (abandono
        do serviço) ou oportunidade (cross-sell) para a empresa.
      </p>
    </div>
  </div>
</section>
